body {

    font-family: 'roboto', sans-serif;
    background-color: crimson;
   text-align: center;
    margin: 0;
    padding: 20px;

}

input{

    width: 270px;
    padding: 12px;
    margin: 10px;
    font-size: 1.2em;
    border: 4px solid orangered;
    border-radius: 15px;
    background-color: #ffffff;
    color: #2d14cd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

}

button {

    background-color: gold;
    color: white;
    padding: 12px 25px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}